body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    background-color: rgb(17, 98, 192);
    color: rgb(240, 240, 240);
    padding: 8px;
    font-weight: bold;
    border-radius: 4px;
    border-style: none;
}